body,ul{
    margin: 0;
}

/* GRID */
#container{
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 85%;
    grid-template-areas:
    'hd'
    'ma'
    ;
}

#liquipedia-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 15% 28% 57%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'hd hd'
    'ma ma'
    'se se2'
    ;
}

#socials-container{
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 15% 60% 10%;
    grid-template-areas:
    'hdf'
    'se'
    'sef'
    'ft'
    ;
}

#awards-container{
    display: grid;
    height: 125vh;
    grid-template-rows: 12% 115%;
    grid-template-areas:
    'hd'
    'ma'
    ;
}

#portfolio-container{
    display: grid;
    height: 125vh;
    grid-template-rows: 12% 100%;
    grid-template-areas:
    'hd'
    'ma'
    ;
}

header{
    grid-area: hd;
    background-color: gray;
}

#flex{
    grid-area: hdf;
    background: gray;
}

main{
    grid-area: ma;
    background-color: black;
}

#organisations, #title{
    grid-area: se;
    background-color: black;
}

#people{
    grid-area: se2;
    background-color: black;
}

#secflex{
    display: flex;
    grid-area: sef;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

footer{
    grid-area: ft;
    background-color: gray;
}

.menu{
    height: 100vh;
    width: 80vw;
    background: gray;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

/* MOBILE */
@media screen and (min-width:320px) and (max-width:1023px){
    .logo{
        display: none;
    }
    .link{
        display: none;
    }
    #container{
        display: grid;
        height: 110vh;
        grid-template-rows: 7.5% 105%;
        grid-template-areas:
        'hd'
        'ma'
    }
    #liquipedia-container{
        display: grid;
        height: 150vh;
        grid-template-rows: 7.5% 25% 42% 40%;
        grid-template-columns: 100%;
        grid-template-areas:
        'hd'
        'ma'
        'se'
        'se2'
        ;
    }
    #socials-container{
        display: grid;
        height: 150vh;
        grid-template-rows: 7.5% 12% 71% 9.5%;
        grid-template-areas:
        'hdf'
        'se'
        'sef'
        'ft'
        ;
    }
    #awards-container{
        display: grid;
        height: 150vh;
        grid-template-rows: 7.5% 100%;
        grid-template-areas:
        'hd'
        'ma'
    }
    #portfolio-container{
        display: grid;
        height: 125vh;
        grid-template-rows: 7.5% 139%;
        grid-template-areas:
        'hd'
        'ma'
    }
    .portfolio{
        display: block;
        width: 325px;
        height: 250px;
        margin-left: 22%;
        margin-right: auto;
    }
    #montage{
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline;
        position: absolute;
        top: 10px !important;
        left: 10px !important;
    }
    #BORLC{
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline;
        position: absolute;
        top: 100px;
        left: 10px;
    }
    .awards{
        display: block;
        width: 325px;
        height: 250px;
        margin-left: 20%;
        margin-right: auto;
    }
    .port-txt{
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline;
        margin-left: 22%;
        margin-right: auto;
    }
    #secflex{
        display: block;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px){
    .menu{
        display: none;
    }
    .menu-button{
        display: none;
    }
    .logo{
        width: 50px;
        position: relative;
        top: 18px;
    }
    .link{
        justify-content: space-between;
        margin: 120px;
        bottom: 25px;
    }
    .portfolio{
        display: block;
        width: 500px;
        height: 250px;
        margin-left: 410px;
        margin-right: auto;
    }
}

a.tournament{
    display: block;
    margin-left: 5px;
    margin-right: auto;
    text-align: center;
}
a.team{
    display: block;
    margin-left: 5px;
    margin-right: auto;
    text-align: center;
}
a.player{
    display: block;
    margin-left: 5px;
    margin-right: auto;
    text-align: center;
}

a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Voffie_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.socials{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

p{
    font-family: Helvetica;
    text-align: center;
    color: white;
}

h1, h3, li{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style-position: inside;
}

a:link, a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}